%form(action="/" method="POST")
  %label(for="post")
  %input(type="text" name="title") Title
  %input(type="text" name="content") Content
  %input(type="text" name="pic") Images
  %input(type="text" name="video") Video
  %input(type="text" name="cats_id") Catorgry
  %input(type="submit" value="提交")