%form(action="/" method="POST")
  %label(for="post")
  %input(type="text" name="title")
  %input(type="text" name="content")
  %input(type="text" name="pic")
  %input(type="text" name="video")
  %input(type="text" name="cats_id")
  %input(type="submit" value="提交")