%form(action="/apply" method="POST")
  %label(for="apply")
  %input(type="text" name="name") Name
  %input(type="text" name="phone") PhoneNum
  %input(type="text" name="email") Email
  %input(type="text" name="school") School
  %input(type="text" name="grate") Grate
  %input(type="radio" name="sex" value="male") male
  %input(type="radio" name="sex" value="female") female
  %input(type="submit" value="提交")